body{
  margin: 100px auto;
  width: 500px;
}
p{
  margin: 20px 0;
}

.back{

  background-image: url(../work/img/offer01_sv_02.jpg);

  &-repeat{
    background-repeat: no-repeat;
  }

  &-size{
    &-default{
      background-size: auto;
    }
    &-contain{
      background-size: contain;
    }
    &-cover{
      background-size: cover;
    }
    &-px{
      background-size: 20px 100px;
    }
  }

  &-pos{
    background-position: 0%;
  }
}
